[submodule "PredictorServer"]
	path = PredictorServer
	url = https://github.com/ShaneBByers/PredictorServer
[submodule "PredictorWebServer"]
	path = PredictorWebServer
	url = https://github.com/ShaneBByers/PredictorWebServer
